*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

php{
    background-color: #fff;
    color: rgb(97, 89, 89);
    font-family: "Lato", "sans-serif", "Arial";
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility

}